.fav {
    background: #E5E5E5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav_wrapper {
    margin: 0 auto;
    padding: 26px 37px;
    height: 95vh;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-content: start;
}
@media (max-width: 1440px) {
    .fav_wrapper {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1170px) {
    .fav_wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 895px) {
    .fav_wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 630px) {
    .fav_wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}